.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  .login-container {
    box-shadow: -10px 10px 25px rgba(210, 210, 210, 0.9);
    display: flex;
    border-radius: 20px;
    width: 55vw;
    overflow: hidden;
    .logo {
      width: 100%;
      background-color: #f9bf2e;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        min-width: 100px;
        max-width: 360px;
      }
    }

    .login-form {
      background-color: #fff;
      min-width: 300px;
      max-width: 400px;
      width: 100%;
      //   height: 409px;
      padding: 60px 20px;

      .form-subtitle {
        color: #000; // 主标题用最深灰
        font-weight: 700;
        font-size: 32px;
      }
      .ant-form-item-label {
        padding: 3px !important;
      }
      .ant-form-item {
        margin-bottom: 10px;
      }

      .btn {
        width: 100%;
      }
    }
  }
}
