.main1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    height: 8.5%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f4f4f4;
    /* 添加下边框，宽度为1px，颜色为灰色（#ccc是常见的灰色值） */


    .search {
      width: 100%;
      padding: 20px;
    }
  }

  .list {
    width: 100%;
    height: 91.5%;
    overflow-y: scroll;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;


    .nomessage {
      width: 50%;
      height: 200px;
      margin: 50% auto;
      font-size: 24px;
      color: #dfdddd;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .icon {
        font-size: 30px;
        color: #dfdddd;
      }

      .iconmessage {
        font-size: 24px;
        color: #dfdddd;
      }
    }

    .addlist {
      width: 94%;
      height: 12%;
      margin-top: 20px;
      border-radius: 10px;
      border: #dfdddd solid 1px;
      transition: box-shadow 0.3s ease;
      display: flex;
      flex-direction: column;
      padding: 10px;

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .mess {
        width: 100%;
        height: 70%;
        display: flex;

        .avatar {
          width: 20%;
          height: 100%;
          background-color: aqua;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .zhuti {
          flex: 1;
          padding-left: 20px;
          height: 100%;

          .name {
            font-size: 18px;
            font-weight: 550;

          }

          .nature {
            font-size: 14px;
            color: #dfdddd;
            font-weight: 550;
            margin-top: 10px;
          }
        }



      }

      .addbutt {
        flex: 1;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 2px;

        .add {
          width: 46%;
          height: 100%;
        }

        .send {
          width: 46%;
          height: 100%;
        }
      }

    }
  }
}