.navi-bar {
  height: 100vh;
  width: 60px;
  background-color: #d7d7d7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .top {
    .user-head-image {
      margin-top: 20px;
      cursor: pointer;
      display: flex;
      justify-content: center;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .menu {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;

      .menu-item {
        position: relative;
        color: #8a8a8a;
        cursor: pointer;
        width: 60px;
        height: 46px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;

        .icon {
          font-size: 26px;
        }
        &:hover {
          font-weight: 600;
          color: #fff49a;
        }
      }
      .active {
        font-weight: 600;
        color: #fff49a;
      }
    }
  }
  .bottom {
    .bottom-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 100%;
      cursor: pointer;
      color: #8a8a8a;
      font-size: 22px;

      .icon {
        font-size: 26px;
      }

      // &:hover {
      //   font-weight: 600;
      //   color: #fde20b;
      // }
    }
  }
}
